.Frame_18{
    background-color: $bacgrand_footer;
    .conainer{
        max-width: 90%;
        padding: 24px 0px;
        margin: 0 auto;
        .frame_18_text{
            .Frame_18_img{
                max-width: 516px;
                margin: 0 auto;
                img{
                    max-width: 100%;
                    margin: 0 auto;
                }
            }
            .Frame_18_work{
                .text{
                    display: flex;
                    flex-direction: column;
                    row-gap: 14px;
                    h2{
                        color: #FFF;
                        text-align: center;
                        font-size: 24px;
                        font-weight: 900;
                        line-height: 32px;
                        letter-spacing: -0.1px;
                        max-width: 342px;
                        margin: 0 auto;
                    }
                    h3{
                        color: #FFF;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: italic;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0.1px;
                        text-align: center;
                        max-width: 342px;
                        margin: 0 auto;
                    }
                }
                .frame_18_lo{
                    ul{
                        display: flex;
                        flex-direction: column;
                        row-gap: 2px;
                        color: #FFF;
                        max-width: 266px;
                        margin: 0 auto;
                        li{
                            p{
                                display: flex;
                                color: #FFF;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 24px; 
                                letter-spacing: 0.1px;
                                max-width: 266px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:744px){
    .Frame_18{
        .conainer{
            .frame_18_text{
                .Frame_18_img{
                    max-width: 500px;
                    margin: 0 auto;
                    img{
                        max-width: 100%;
                        margin: 0 auto;
                    }
                }
                .Frame_18_work{
                    .text{
                        display: flex;
                        flex-direction: column;
                        row-gap: 29px;
                        h2{
                            max-width: 696px;
                            margin: 0 auto;
                        }
                        h3{
                            text-align: center;
                            max-width: 696px;
                            margin: 0 auto;
                        }
                    }
                    .frame_18_lo{
                        ul{
                            max-width: 266px;
                            li{
                                p{
                                    max-width: 266px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}
@media screen and (min-width:1024px){
    .Frame_18{
        .conainer{
            .frame_18_text{
                .Frame_18_img{
                    margin: 0 auto;
                    img{
                        width: 960px;
                        margin: 0 auto;
                    }
                }
                .Frame_18_work{
                    display: flex;
                    justify-content: space-between;
                    padding: 0 0 64px 0;
                    .text{
                        display: flex;
                        flex-direction: column;
                        row-gap: 16px;
                        h2{
                            text-align: start;
                            max-width: 415px;
                            margin: 0 auto;
                        }
                        h3{
                            text-align: start;
                            max-width: 415px;
                            margin: 0 auto;
                        }
                    }
                    .frame_18_lo{
                        ul{
                            max-width: 266px;
                            row-gap: 8px;
                            li{
                                p{
                                    max-width: 266px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media screen and (min-width:1440px){
    .Frame_18{
        .conainer{
            max-width: 1440px;
            padding: 96px 150px;
            .frame_18_text{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .Frame_18_img{
                    margin: 0 auto;
                    img{
                        max-width: 100%;
                        height: 428px;
                        margin: 0 auto;
                    }
                }
                .Frame_18_work{
                    display: flex;
                    flex-direction: column;
                    row-gap: 16px;
                    padding: 0px;
                    .text{
                        display: flex;
                        flex-direction: column;
                        row-gap: 16px;
                        h2{
                            text-align: start;
                            max-width: 415px;
                            margin: 0 auto;
                        }
                        h3{
                            text-align: start;
                            max-width: 415px;
                            margin: 0 auto;
                        }
                    }
                    .frame_18_lo{
                        ul{
                            margin-left: 20px;
                            max-width: 500px;
                            row-gap: 8px;
                            li{
                                p{
                                    max-width: 266px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}