header{
    .ciontainer{
        max-width: 90%;
        margin: 0 auto;
        padding: 21px 0 32px 0;
        nav{
            display: flex;
            justify-content: space-between;
            padding-bottom: 21px;
            align-items: center;
            .navbar_left{
                width: 130px;
                height: 27px;
                align-items: center;
            }
            .navbar_cener{
                display: none;
            }
            .navbar_compyuter{
                display: none;
            }
            .navbar_reght{
                height: 25px;
                width: 25px;
            }
        }
        .haeder_flex{
            .header_bacon{
                display: flex;
                flex-direction: column;
                row-gap: 21px;
                h1{
                    color: $bacgrand_footer;
                    text-align: center;
                    font-size: 40px;
                    font-weight: 800;
                    max-width: 342px;
                    margin: 0 auto;
                }
                h2{
                    max-width: 342px;
                    color: $bacgrand_footer;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 300;
                    margin: 0 auto;
                }
                ul{
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                    
                    .Recipes{
                        width: 135px;
                        height: 38px;
                        border-radius: 30px;
                        background: #FFCF23;
                        margin: 0 auto;
                        text-align: center;
                        padding: 12px 40px;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        a{
                            align-items: center;
                            color: rgba(0, 0, 0, 0.84);
                            font-weight: 500;
                        }
                    }
                    li{
                        p{
                            padding: 0px 30px;
                            color: #000;
                            text-align: center;
                            font-family: Inter;
                            font-size: 16px;
                            font-weight: 600;
                            margin: 0 auto;
                        }
                    }
                }
            }
            .header_img{
                margin-top: 42px;
                img{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width:744px) {
    header{
        .ciontainer{
            max-width: 90%;
            margin: 0 auto;
            padding: 21px 0 32px 0;
            nav{
                display: flex;
                justify-content: space-between;
                padding-bottom: 58px;
                .navbar_left{
                    width: 130px;
                    height: 27px;
                    align-items: center;
                }
                .navbar_cener{
                    display: none;
                }
                .navbar_compyuter{
                    display: none;
                }
                .navbar_reght{
                    height: 25px;
                    width: 25px;
                }
            }
            .haeder_flex{
                .header_bacon{
                    display: flex;
                    flex-direction: column;
                    row-gap: 21px;
                    h1{
                        color: $bacgrand_footer;
                        text-align: center;
                        font-size: 40px;
                        font-weight: 800;
                    }
                    h2{
                        max-width: 700px;
                        color: $bacgrand_footer;
                        text-align: center;
                        font-size: 18px;
                        font-weight: 300;
                    }
                    ul{
                        list-style: none;
                        display: flex;
                        column-gap: 20px;
                        margin: 0 auto;
                        padding-top: 40px;
                        flex-direction: row;
                        align-items: center;
                        .Recipes{
                            width: 135px;
                            height: 38px;
                            border-radius: 30px;
                            background: #FFCF23;
                            text-align: center;
                            margin: 1px;
                            padding: 12px 40px;
                            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                            a{
                                align-items: center;
                                color: rgba(0, 0, 0, 0.84);
                                font-weight: 500;
                            }
                        }
                        li{
                            p{
                                color: #000;
                                font-size: 16px;
                                font-weight: 300;
                                margin: 0 auto;
                                padding: 0px;
                            }
                        }
                    }
                }
                .header_img{
                    margin-top: 42px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1024px){
    header{
        .ciontainer{
            max-width: 90%;
            margin: 0 auto;
            padding: 21px 0 32px 0;
            nav{
                display: flex;
                justify-content: space-between;
                padding-bottom: 58px;
                .navbar_left{
                    width: 130px;
                    height: 27px;
                    align-items: center;
                }
                .navbar_cener{
                    display: inline-block;
                    ul{
                        display: flex;
                        list-style: none;
                        column-gap: 24px;
                        li{
                            a{
                                color: #000;
                                text-align: right;
                                font-size: 16px;
                                font-weight: 500;
                                letter-spacing: 0.1px;
                            }
                        }
                    }
                }
                .navbar_compyuter{
                    display: inline-block;
                    a{
                        border-radius: 30px;
                        padding: 13px 38.5px;
                        background-color: #000;
                        color: #FFF;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
                .navbar_reght{
                    display: none;
                    height: 25px;
                    width: 25px;
                }
            }
            .haeder_flex{
                .header_bacon{
                    display: flex;
                    flex-direction: column;
                    row-gap: 21px;
                    h1{
                        color: #000;
                        text-align: center;
                        font-size: 50px;
                        font-weight: 800;
                        max-width: 467px;
                    }
                    h2{
                        max-width: 460px;
                        color: $bacgrand_footer;
                        text-align: center;
                        font-size: 18px;
                        font-weight: 300;
                    }
                    ul{
                        list-style: none;
                        display: flex;
                        column-gap: 20px;
                        margin: 0 auto;
                        padding-top: 0px;
                        flex-direction: row;
                        align-items: center;
                        .Recipes{
                            width: 135px;
                            height: 38px;
                            border-radius: 30px;
                            background: #FFCF23;
                            text-align: center;
                            margin: 1px;
                            padding: 12px 40px;
                            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                            a{
                                align-items: center;
                                color: rgba(0, 0, 0, 0.84);
                                font-weight: 500;
                            }
                        }
                        li{
                            p{
                                color: #000;
                                font-size: 16px;
                                font-weight: 300;
                                margin: 0 auto;
                                padding: 0px;
                            }
                        }
                    }
                }
                .header_img{
                    margin-top: 42px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

    
@media screen and (min-width:1440px){
    header{
        .ciontainer{
            max-width: 1440px;
            margin: 0 auto;
            padding: 21px 26px 32px 26px;
            nav{
                display: flex;
                justify-content: space-between;
                padding-bottom: 0px;
                .navbar_left{
                    width: 130px;
                    height: 27px;
                    align-items: center;
                }
                .navbar_cener{
                    display: inline-block;
                    ul{
                        display: flex;
                        list-style: none;
                        column-gap: 24px;
                        li{
                            a{
                                color: #000;
                                text-align: right;
                                font-size: 16px;
                                font-weight: 500;
                                letter-spacing: 0.1px;
                            }
                        }
                    }
                }
                .navbar_compyuter{
                    display: inline-block;
                    a{
                        border-radius: 30px;
                        padding: 13px 38.5px;
                        background-color: #000;
                        color: #FFF;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
                .navbar_reght{
                    display: none;
                    height: 25px;
                    width: 25px;
                }
            }
            .haeder_flex{
                text-align: start;
                align-items: center;
                display: flex;
                justify-content: space-between;
                padding: 64px 124px;
                .header_bacon{
                    h1{
                        text-align: start;
                    }
                    h2{
                        text-align: start;
                        max-width: 452px;
                    }
                    ul{
                        li{
                            text-align: start;
                        }
                    }
                }
            }
        }
    }
}