@import "./varablems.scss";
@import "./global.scss";
@import "./heder.scss";
@import "./Frame_2.scss";
@import "./Frame_18.scss";
@import "./Frame_20.scss";
@import "./cta.scss";
@import "./footer.scss";