$bacgrand_input:rgba(255, 255, 255, 0.15);  
$bacgrand_footer:#000;
$color_text:#FFFFFF;
$bacgrand_cta:#F3F3F3;
$bacgrand_haeder:#FFCF23;
$bacgrand_Frame_12:#F3F3F3;

*,
*::after,
*::before{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}